@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  mint color scheme
  primary: #3bba9c
  bg-color: #2e3047
  text: #707793
*/

*{
  color: #707793;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

div.v-line{
  border-left: 2px solid #3bba9c;
  height: 100%;
  margin-top: 700px;
  margin-left: 30px;
  position: fixed;
  z-index: 0;
}

div.v-line-2{
  border-left: 2px solid #3bba9c;
  height: 100%;
  margin-top: 700px;
  margin-right: 30px;
  position: fixed;
  z-index: 0;
}